node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.idea/

# macOS
.DS_Store
backend/rest-api/.env
./package-lock.json
./yarn.lock
package-lock.json
package.json
backend/rest-api/package-lock.json
backend/rest-api/package.json
.gitignore
