node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.idea/

# macOS
.DS_Store
./package-lock.json
./yarn.lock
backend/rest-api/package-lock.json
backend/rest-api/yarn.lock
